<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>P5_Quiz</title>
    <h1>Credits</h1>
    <p>Autora: Cristina López Alonso.</p>
  </head>
  <body>
    <img src="icono.png" width="300">
  </body>
</html>